@import url(./reset.css);

:root {
    --main-color: #976234;
    --invert-color: aliceblue;
    --adaptive:calc((50 - 20)  * ((100vw - 320px) / (1920 -320)));
    --size0:1px;
    --size1:10px;
    --size2:16px;
    --size3:20px;
    --size4:50px;
}

h1 {
    font-size:calc(var(--size4) + var(--adaptive));
    text-transform: capitalize;
}

p {
    padding: 1.3%;
}
footer {
    columns: 3;
    gap: 10px;
}
.wrapper {
    font-size:calc(var(--size2) + var(--adaptive));
    
}

.first-view {
    position: relative;
    width: 100%;
    height: 100vh;
    background:no-repeat url("./images/shell.jpg");
    background-size: 100% 100%;
    color:var(--main-color);

}

.main-header {
    position: fixed;
    margin: 8% 20% auto;
    text-align: center;
}

.button-more {
    font-size:calc(var(--size1) + var(--adaptive));
    color: var(--main-color);
    width: 150px;
    height: 40px;
    border: 1px var(--main-color) solid ;
    border-radius: 5px;
    margin:calc(var(--size1) + var(--adaptive));
    padding: auto;
    text-transform: capitalize;
    
}

.painted {
    color:var(--invert-color);
    background-color: var(--main-color);
}

.button-more:hover {
    color:var(--invert-color);
    background-color: var(--main-color);
}

.show-more {
    width: 100% ;
    padding: 5% auto;
}

#show-more {
    display: none;
    font-size: calc(var(--size0) + var(--adaptive));
}

@media screen and (min-width: 1921px) {

    .wrapper {
        font-size: calc(var(--size3) + var(--adaptive));
        
    }

    #show-more {
        font-size: calc(var(--size3) + var(--adaptive));
    }
    
}

@media screen and (max-width: 678px) {
    footer {
        columns: 1;
        font-size: calc(var(--size1) + var(--adaptive));
    }
    #show-more {
        font-size: calc(var(--size3) + var(--adaptive));
    }
    
}

@media (any-pointer: coarse) {
    button-more{
        appearance: none
    }
}